@model IEnumerable<Nimap_assignment.Models.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
            <form action="/Home/AddCategory" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Category Name</label>
                    <input type="text" name="categoryname" placeholder="Enter Name" class="form-control" required>

                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Add">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Category_Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var list in Model)
                    {
                        <tr>
                            <th scope="row">@Html.DisplayFor(ModelItem => list.id)</th>
                            <td>@Html.DisplayFor(ModelItem => list.categoryname)</td>
                            <td>
                                <a class="btn btn-success" href="/Home/editCategory?id=@Html.DisplayFor(ModelItem => list.id)"><i class="bi bi-pencil"></i>Edit</a>
                                <a class="btn btn-info" href="/Home/deleteCategory?id=@Html.DisplayFor(ModelItem => list.id)"><i class="bi bi-trash"></i>Delete</a>
                            </td>
                          
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>

